---
title: Tags
layout: page
header: Posts By Tag
group: navigation
---
<div class="row">
<div class="span10">
{% for tag in site.tags %} 
   <a class="label" href="{{ BASE_PATH }}tags.html#{{ tag[0] }}-ref">{{ tag[0] }}</a>
{% endfor %}
</div>
</div>

{% for tag in site.tags %} 
<div class="span3">
  <h4 id="{{ tag[0] }}-ref">{{ tag[0] }}</h4>
  <ul>
    {% for node in tag[1] %}
       <li><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
    {% endfor %}
  </ul>
</div>
{% endfor %}

